<!DOCTYPE HTML>
<html>

    <head>
        <title>Main page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    <div>Billiard cues for Pyramid</div>
    {{#pyramidBilliardCues}}
        <div>
            <b>{{id}}</b>
            <span>{{cue}}</span>
            <span>{{tree}}</span>
            <span>{{saw}}</span>
            <span>{{weight}}</span>
            <span>{{glass}}</span>
            <span>{{sticker}}</span>
            <span>{{length}}</span>
            <span>{{incrustation}}</span>
            <span>{{producer}}</span>
            <span>{{price}}</span>
            <span>{{status}}</span>
        </div>
    {{/pyramidBilliardCues}}
    </body>

</html>