<!DOCTYPE HTML>
<html>

    <head>
        <title>Main page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div>
             <form action="/logout" method="post">
                 <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                 <input type="submit" value="Sign Out"/>
             </form>
        </div>

        <div>
            <form method="post">
                <input type="number" name="id" placeholder="id"/>
                <input type="text" name="cue" placeholder="cue"/>
                <input type="text" name="tree" placeholder="tree"/>
                <input type="text" name="saw" placeholder="saw"/>
                <input type="text" name="weight" placeholder="weight"/>
                <input type="text" name="ferule" placeholder="ferule"/>
                <input type="text" name="sticker" placeholder="sticker"/>
                <input type="text" name="length" placeholder="length"/>
                <input type="text" name="incrustation" placeholder="incrustation"/>
                <input type="text" name="producer" placeholder="producer"/>
                <input type="text" name="price" placeholder="price"/>
                <input type="text" name="state" placeholder="state"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit">Add cue to the database</button>
            </form>
        </div>

        <div>
            <form method="post" action="producerFilter">
                <label>
                    <input type="text" name="producerFilter"/>
                </label>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                <button type="submit">Find by producer</button>
            </form>
        </div>

        <div>Billiard cues for Pyramid</div>
        {{#pyramidBilliardCues}}
        <div>
            <b>{{id}}</b>
            <span>{{cue}}</span>
            <span>{{tree}}</span>
            <span>{{saw}}</span>
            <span>{{weight}}</span>
            <span>{{ferule}}</span>
            <span>{{sticker}}</span>
            <span>{{length}}</span>
            <span>{{incrustation}}</span>
            <span>{{producer}}</span>
            <span>{{price}}</span>
            <span>{{state}}</span>
        </div>
    {{/pyramidBilliardCues}}
    </body>

</html>