<!DOCTYPE HTML>
<html>

    <head>
        <title>Main page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div>
            <form method="post">
            <input type="number" name="id" placeholder="Номер"/>
            <input type="text" name="cue" placeholder="Кий"/>
            <input type="text" name="tree" placeholder="Дерево"/>
            <input type="text" name="saw" placeholder="Запил"/>
            <input type="text" name="weight" placeholder="Вес"/>
            <input type="text" name="glass" placeholder="Стакан"/>
            <input type="text" name="sticker" placeholder="Наклейка"/>
            <input type="text" name="length" placeholder="Длина"/>
            <input type="text" name="incrustation" placeholder="Инкрустация"/>
            <input type="text" name="producer" placeholder="Производитель"/>
            <input type="text" name="price" placeholder="Цена"/>
            <input type="text" name="status" placeholder="Статус"/>
            <button type="submit">Добавить кий в базу данных</button>
            </form>
        </div>

        <div>Billiard cues for Pyramid</div>
        {{#pyramidBilliardCues}}
        <div>
            <b>{{id}}</b>
            <span>{{cue}}</span>
            <span>{{tree}}</span>
            <span>{{saw}}</span>
            <span>{{weight}}</span>
            <span>{{glass}}</span>
            <span>{{sticker}}</span>
            <span>{{length}}</span>
            <span>{{incrustation}}</span>
            <span>{{producer}}</span>
            <span>{{price}}</span>
            <span>{{status}}</span>
        </div>
    {{/pyramidBilliardCues}}
    </body>

</html>